.peter {
    color:rgb(115, 115, 165);
}

.mayor {
    color:rgb(200, 177, 86);
}

.dana {
    color:rgb(216, 113, 137);
}

.ray {
    color:rgb(74, 127, 134);
}

.winston {
    color:rgb(182, 119, 75);
}

.narrator {
    color:rgb(79, 79, 79);
}

.egon {
    color:rgb(94, 94, 179);
}

.title{

    font-weight:bolder
}