.title{
    font-weight: bold;
    font-family: Arial, sans-serif;
    letter-spacing:10px;
    color:white;
}

.artist{
    font-weight: bold;
    font-family: Arial, sans-serif;
    letter-spacing:10px;
    color:white;
}

.container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        justify-content:center
}

.section{
    font-weight:bold;
    color:rgb(174, 204, 225);
    margin-bottom:0px;
    margin-top:20px;
    font-family: Arial, sans-serif;
}

p{
  font-family: Arial, sans-serif;
  color:white;
}

body{
    background-color: black;
}
